.4_70 { 
	overflow:hidden;
}
.e4_70 { 
	/*background-color:rgba(97.00000181794167, 115.00000074505806, 135.00000715255737, 1);*/
	width:1440px;
	height:1024px;
	position:absolute;
}
.e4_71 { 
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	/*background-image:url(images/image_1.png);*/
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_72 { 
	box-shadow:0px 4px 20px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1116px;
	height:619px;
	position:absolute;
	left:156px;
	top:187px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

.logo img{
	max-width: 40%;
	align-self: center;
 }
.e4_73 { 
	color:rgba(0, 0, 0, 1);
	width:212px;
	height:29px;
	position:absolute;
	left:284px;
	top:481px;
	font-family:Comic Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_74 { 
	color:rgba(0, 0, 0, 1);
	width:212px;
	height:29px;
	position:absolute;
	left:284px;
	top:723px;
	font-family:Comic Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_75 { 
	color:rgba(0, 0, 0, 1);
	width:212px;
	height:29px;
	position:absolute;
	left:289px;
	top:653px;
	font-family:Comic Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_76 { 
	color:rgba(0, 0, 0, 1);
	width:212px;
	height:29px;
	position:absolute;
	left:284px;
	top:550px;
	font-family:Comic Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_77 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:902px;
	height:58px;
	position:absolute;
	left:282px;
	top:579px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.4_77 { 
	border:1px solid rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
}
.e4_78 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:902px;
	height:29px;
	position:absolute;
	left:282px;
	top:510px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.4_78 { 
	border:1px solid rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
}
.e4_79 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:902px;
	height:29px;
	position:absolute;
	left:284px;
	top:682px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.4_79 { 
	border:1px solid rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
}
.e4_80 { 
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:902px;
	height:29px;
	position:absolute;
	left:282px;
	top:752px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.4_80 { 
	border:1px solid rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
}
.e4_81 { 
	background-color:rgba(63.000000044703484, 90.00000223517418, 152.0000061392784, 1);
	width:120px;
	height:54px;
	position:absolute;
	left:1086px;
	top:199px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_82 { 
	background-color:rgba(63.000000044703484, 90.00000223517418, 152.0000061392784, 1);
	width:93px;
	height:54px;
	position:absolute;
	left:216px;
	top:199px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e4_83 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:29px;
	position:absolute;
	left:1103px;
	top:212px;
	font-family:Comic Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_84 { 
	color:rgba(255, 255, 255, 1);
	width:21px;
	height:29px;
	position:absolute;
	left:251px;
	top:212px;
	font-family:Comic Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_85 { 
	width:180px;
	height:153px;
	position:absolute;
	left:299px;
	top:310px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_86 { 
	width:90px;
	height:99px;
	position:absolute;
	left:669px;
	top:199px;
	background-image:url(images/image_removebg_preview__28___1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_87 { 
	color:rgba(0, 0, 0, 1);
	width:249px;
	height:57px;
	position:absolute;
	left:596px;
	top:253px;
	font-family:Archivo Black;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
}


