@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@400;600;700&family=Quicksand:wght@600;700&display=swap');

:root {
    --main-color: #162A9C;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar{
    display: none;
}

a, p, i{
    color: #c8c8c8;
    transition: 0.25s;
}

a:hover{
    color: var(--main-color);
}

i{
    font-size: 24pt;
}

i:hover{
    cursor: pointer;
}

h1, h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

h3, h4, h5, h6, p, a, button{
    font-family: 'Biryani', sans-serif;
}

b{
    color: #000;
}

button{
    background-color: var(--main-color);
    color: #ffffff;
}

input:focus{
    outline: none;
}

main{
    display: grid;
    grid-template-columns: 0.25fr 0.45fr 0.25fr;
    height: 100%;
    justify-content: space-between;
}

#left{
    box-shadow: 2px 0px 11px 0px rgba(0,0,0,0.6);
    background-color: #fff;
    min-height: 100vh;
}

.inner-l{
    display: grid;
    grid-template-rows:0.14fr 0.11fr 0.34fr 0.06fr 0.06fr 0.29fr ;
    height: 100vh;
    position: sticky;
    top: 0;
}

#center{
    padding: 2rem 0 ;
    grid-column: 2;
    margin-left: 3%;
    margin-right: 3%;
}

#right{
    right: 0;
    box-shadow: 2px 0px 11px 0px rgba(0,0,0,0.6);
    background-color: #fff;
    min-height: 100vh;
    padding-left: 6px;
    padding-right: 6px;
}

.inner-r{
    display: grid;
    grid-template-rows: 0.5fr 0.06fr 0.5fr;
    min-height: 100vh;
    position: sticky;
    top: 0
}

#logo{
    display: flex;
}

#logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img{
    max-width: 40%;
    align-self: center;
}

#user-profile{
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

#profile-picture{
    border: 2px solid #000;
    display: flex;
    border-radius: 50%;
    padding: 4px;
}

#profile-picture img{
    align-self: center;
    max-width: 57px;
    border-radius: 50%;
}

#user-data{
    padding-left: 1rem;
}

#user-data a{
    color: #000;
}

#tabs{
    padding: 1rem 0;
    padding-left: 5rem;
}

#tabs ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tab-container{
    display: flex;
    align-items: center;
}

.tab-container:hover{
    cursor: pointer;
}

.tab-container:hover a, .tab-container:hover i{
    color: var(--main-color);
}

.tab-title{
    margin-left: 1rem;
}

.active-tab{
    border-right: 10px solid var(--main-color);
}

.active-tab a, .active-tab i{
    color: var(--main-color);
}

.notif-cant{
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    margin-left: 5rem;
    padding: 0.2rem;
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-family: 'Biryani', sans-serif;
    font-size: 7pt;
    transition: 0.25s;
}

.tab-container:hover .notif-cant{
    background-color: #E2336B;
}

.separator{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator hr{
    width: 100%;
    height: 1px;
}

.collapse{
    background-color: var(--main-color);
    border-radius: 50% 0 0 50%;
    padding: 0.75rem;
}

.collapse:hover, .collapse-2:hover{
    cursor: pointer;
}

.collapse:hover i, .collapse-2:hover i{
    color: #ffffff;
}

#logout{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5rem;
}

#logout div{
    width: 100%;
}

#info{
    display: flex;
    align-content:flex-end;
    padding: 0.75rem 5rem;
}

#info p{
    margin-top: auto;
    font-size: 8pt;
}

#search-bar{
    display: flex;
    padding: 0.5rem 1rem;
    border: 1px solid #c8c8c8;
    align-items: center;
    border-radius: 16px;
}

#search-bar input{
    border: none;
    width: 100%;
    font-size: 14pt;
    padding-left: 0.5rem;
}

#search-bar i{
    font-size: 12pt;
}

.suggestions{
    display: grid;
    max-height: 100%;
}



.sug-title{
    text-align: center;
    font-size: 16pt;
}

.sug-list{
    max-height: 60%;
    padding: 1rem 0;
}

.sug-user, .sug-topic{
    display: flex;
    align-items: center;
    padding-left: 3rem;
    margin-top: 1rem;
}

.sug-user:hover, .sug-topic:hover{
    cursor: pointer;
}

.sug-user-picture{
    border: 2px solid rgb(212, 0, 0);
    display: flex;
    border-radius: 50%;
    padding: 4px;
    transition: 0.25s;
}

.sug-user-picture img{
    align-self: center;
    max-width: 45px;
    max-height: auto;
    border-radius: 50%;
}

.sug-user-picture:hover, .sug-topic-picture:hover{
    transform: scale(1.1);
}

.sug-user-data, .sug-topic-data{
    padding-left: 1rem;
    line-height: 14pt;
}

.sug-user-data:hover h3, .sug-topic-data:hover h3{
    text-decoration: underline;
}

.sug-topic-data ul li{
    font-family: 'Biryani', sans-serif;
    line-height: 1.6;
}

.UbicacionPreferida {
    width: 140px;
    height: 25px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 8px;
    margin-left: 5px;
}

.sug-user-button, .sug-topic-button{
    width: 100%;
    text-align: end;
    padding-right: 1rem;
}

.sug-user-button button{
    font-weight: bold;
    padding: 0.25rem 1rem;
    border-radius: 8px;
    transition: 0.25s;
}

.sug-user-button button:hover{
    background-color: var(--main-color);
    cursor: pointer;
}

.sug-topic-picture{
    transition: 0.25s;
}

.sug-topic-picture img{
    max-width: 45px;
}

.sug-topic-button:hover i{
    color: var(--main-color);
}

.see-more{
    text-align: right;
    margin-top: 1rem;
    padding-right: 1rem;
}

.collapse-2{
    background-color: var(--main-color);
    border-radius: 0 50% 50% 0;
    padding: 0.75rem;
}

#section-title{
    margin-top: 5rem;
    font-size: 16pt;
}

#section-title hr{
    margin-top: 1.5rem;
}

.post{
    margin: 1.5rem 0;
}

.post-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}


.post-author{
    display: flex;
    align-items: center;
}

.post-profile-picture{
    border: 2px solid green;
    padding: 2px;
    border-radius: 50%;
    transition: 0.25s;
    display: flex;
    margin-right: 1rem;
}

.post-profile-picture:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.post-profile-picture img{
    border-radius: 50%;
    max-width: 30px;
}

i:hover{
    color: var(--main-color);
}

.post-image{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.post-image:hover{
    cursor: pointer;
}

.post-image img{
    max-width: 80%;
    max-height: 80vh;
}

.post-foot{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.post-buttons{
    width: 15%;
    display: flex;
    justify-content: space-around;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.hidden{
    visibility: hidden;
    opacity: 0;
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: 0.3s;
}

.modal-container{
    background-color: #ffffff;
    width: 70%;
    height: 80%;
    padding: 2rem;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-body > div{
    margin: 0 0.5rem;
}

.modal-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.modal-image img{
    align-self: center;
    min-width: 50%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 5px 8px 1px rgba(0,0,0,0.16);
}

.modal-image .post-buttons{
    width: 50%;
    margin-top: 1rem;
}

.modal-user{
    display: flex;
    align-items: center;
}

.modal-profile-picture{
    border: 2px solid rgb(143, 69, 0);
    display: flex;
    border-radius: 50%;
    padding: 4px;
    transition: 0.25s;
    margin-right: 1rem;
}

.modal-profile-picture:hover{
    transform: scale(1.1);
}

.modal-profile-picture img{
    align-self: center;
    max-width: 45px;
    border-radius: 50%;
}

.modal-description{
    margin: 0.5rem 0;
}

.modal-tags{
    margin-top: 0.5rem;
}

.modal-tags a{
    font-size: 9pt;
    color: #334de2;
}

.modal-tags p{
    word-spacing: 0.5rem;
}

.modal-data-title h4{
    color: #c8c8c8;
}

.comments{
    max-height:25vh;
    overflow-y: auto;
    padding: 0 0.75rem;
    scroll-behavior: smooth;
}

.comment{
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    background-color: #fff;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.52);
    padding: 1rem 0.5rem;
    border-radius: 8px;
}

.comment-image{
    border: 2px solid rgb(178, 11, 184);
    display: flex;
    border-radius: 50%;
    padding: 4px;
    transition: 0.25s;
    margin-right: 1rem;
}

.comment-image img{
    align-self: center;
    max-width: 35px;
    border-radius: 50%;
}

.comment-data p{
    font-size: 10pt;
    color: #a8a8a8;
}

.comment-input{
    margin-top: 1rem;
    display: flex;
    padding: 0.5rem 0.75rem;
    border: 1px solid #c8c8c8;
    align-items: center;
    border-radius: 16px;
}

.comment-input input{
    border: none;
    width: 100%;
    font-size: 12pt;
    padding-left: 0.5rem;
}

.comment-input i{
    font-size: 12pt;
}

@media only screen and (max-width: 1400px) {
    main{
        grid-template-columns: 0.1fr 0.85fr 0.1fr;
        column-gap: 0.5rem;
    }

    .tab-title, #user-data, .sug-user-button, .sug-user-data, .see-more, .sug-topic-button, .sug-topic-data, #info, .notif-cant, .separator div{
        display: none;
    }

    #user-profile, #tabs, .tab-container, #logout, .sug-user, .sug-topic{
        padding-left: 0;
        justify-content: center;
    }

    .sug-title{
        font-size: 10pt;
        padding: 0 0.5rem;
    }

    .modal-container{
        width: 80%;
        height: 90%;
        padding: 1rem;
        border-radius: 8px;
    }

    .modal-body{
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        padding-top: 0;
    }

    .modal-image{
        max-height: 30%;
        max-width: 100%;
        min-width: none;
        padding-top: 1rem;
    }

    .modal-image img{
        max-height: 100%;
    }

    #profile-picture img{
        align-self: center;
        max-width: 47px;
        border-radius: 50%;
    }

    .inner-l{
        grid-template-rows:0.14fr 0.11fr auto 0.06fr 0.06fr 0.2fr ;

    }

    .post-buttons{
        width: 30%;
    }

  }
.hide{
    display: none !important;
}

.lockScroll{
    overflow: hidden;
}

.collapseL{
    grid-template-columns: 0.1fr 1fr 0.25fr;
    column-gap: 1rem;
}
.collapseR{
    grid-template-columns: 0.25fr 1fr 0.1fr;
    column-gap: 1rem;
}
.collapseBoth{
    grid-template-columns: 0.1fr 0.9fr 0.1fr;
    column-gap: 1rem;
}
.collapsePad{
    padding-left: 0 !important;
    justify-content: center;
}

.collapseTitle{
    font-size: 10pt;
    padding: 0 0.5rem;
}

.activeIcon{
    color: var(--main-color);
}

.SubirArchivop p{
    color: black;
    font-weight: bold;
}
