@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@400;600;700&family=Quicksand:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet');
*{
    font-family:'Biryani';
}
body {
    background-color: #eee;

}

a{
    text-decoration: none;
    color: #000000;
}

.caja {
    margin: auto;
    border: 1px solid #dadbd9; 
    border-top: 0px;
    border-radius: 10px;
    background-color: rgb(255, 248, 248);
    width: 330px;
    height: 500px;
    padding: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 4px 20px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    
}

.header{
    padding: 30px 0;
    text-align: center;
    margin-bottom:0px;
}

.header h3 .logo{
    display: flex;
    justify-content: center;
}

.logo img{
    max-width: 40%;
    align-self: center;
}

/*estilo para formulario de login*/
.form{
    /*border-top: 1px solid #dadbd9;
    border-bottom: 1px solid #dadbd9;*/
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px 0;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

.form h3{
    font-family: Comic Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}

.form label{
    font-family: Comic Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    float: left;

    color: #000000
}



#usuario, #Nombre, #correoelectronico #contrasena{
    width: 200px;
    height: 30px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 8px;
    margin-left: 8px;
}

#FechadeNacimiento{
    width: 155px;
    height: 30px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 8px;
    margin-left: 20px;
}


#correoelectronico{
    margin-left: 15px;
}

.Siguiente{
    padding-top: 10px;
    justify-content: center;
    margin: 20px;
    
    padding: 0px 0;
    text-align: center;
    padding-top: 0px;
    margin-top: 30px;
}



.registrar a h3{
    font-family: Comic Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

    color: #000000
}

#aceptar{
    width: 120px;
    height: 30px;
    background: #ffbc05;
    box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    
}

.login button:hover{
    cursor: pointer;
}

/*estilo para formulario de login*/
.form2{
    /*border-top: 1px solid #dadbd9;
    border-bottom: 1px solid #dadbd9;*/
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px 0;
    text-align: center;
    padding-bottom: 0px;
    margin-top: 0px;
}

.header2{
    padding: 30px 0;
    text-align: center;
    margin-bottom:0px;
}

.form2 p{
    font-size: 12px;
}